<ion-header xmlns="http://www.w3.org/1999/html" style="background-color: white; height: 95px;">
  <div padding style="display: flex; flex-direction: row;">
    <div style="float:left;" >
  <img src="/assets/img/logo.png" style="height: 80px;padding-bottom: 10px;"/>
    </div>
    <div style="text-align: center; padding-left: 15px; padding-top: 5px;">
    <strong>L'alcool s'élimine <strong style="color: #BD1550;">lentement</strong>,<br> mais au volant il peut vous<br> éliminer
      <strong style="color: #BD1550;">trés vite !</strong>
    </strong>
    </div>
  </div>
</ion-header>

<ion-content style ="background-image: url('/assets/img/page-daccueil.jpg');">
  <div *ngIf="" >
  <ion-button  routerLink="/login" size="small" color="bleufonce" >Connexion</ion-button>
  <ion-button  routerLink="/register" size="small" color="bleufonce" >Inscription</ion-button>
  </div>
<div style="display: flex; flex-direction: row; justify-content:center; padding-top: 190px">
  <ul style="position: fixed;">
    <p><ion-button routerLink="/recherche-trajet" size="small"  padding color="violett">Chercher un trajet</ion-button></p>
    <p><ion-button routerLink="/proposer-trajet" size="small" [disabled]="" padding color="bleuclair">Proposer un trajet</ion-button></p>
    <p><ion-button routerLink="/agenda-de-sortie" size="small" padding color="noir">Agenda des sorties</ion-button></p>
    <p><ion-button size="small" padding color="bleufonce">Demander un trajet</ion-button></p>
  </ul>
</div>
</ion-content>

  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home" tab="home">
      <ion-label>Accueil</ion-label>
      <ion-icon name="home" color="bleuclair"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/profil" tab="person">
      <ion-icon name="person" color="bleufonce"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="text">
      <ion-icon name="text" color="violett"></ion-icon>
      <ion-label>Message</ion-label>
      <ion-badge>4</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="filing">
      <ion-icon name="filing" color="noir"></ion-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>
      <ion-tab-button (click)="logout()" tab="log-out">
      <ion-icon name="log-out"></ion-icon>
          <ion-label>Déconnexion</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
